flows.json
[{"id":"4a2f2e58.bfad8","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"7057d10d.87d58","type":"ibmiot in","z":"4a2f2e58.bfad8","authentication":"apiKey","apiKey":"6a3ac9b5.90d828","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"nodemcu","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":118.7734603881836,"y":91.8984546661377,"wires":[["f27f5564.829628","4484171b.c715e8"]]},{"id":"f27f5564.829628","type":"function","z":"4a2f2e58.bfad8","name":"parsing distance","func":"global.set(\"D\",msg.payload.d.distance)\nmsg.payload=msg.payload.d.distance\nreturn msg;","outputs":1,"noerr":0,"x":402.78125,"y":92.59378814697266,"wires":[["5955e0b5.4b12"]]},{"id":"5955e0b5.4b12","type":"debug","z":"4a2f2e58.bfad8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":671.7736206054688,"y":108.31251525878906,"wires":[]},{"id":"3a6a966f.a1ca0a","type":"http in","z":"4a2f2e58.bfad8","name":"get distance","url":"/ultrasonic","method":"get","upload":false,"swaggerDoc":"","x":171.77344512939453,"y":336.15625953674316,"wires":[["39a9007f.4bbc9"]]},{"id":"39a9007f.4bbc9","type":"function","z":"4a2f2e58.bfad8","name":"distance","func":"msg.payload={\"distance\":global.get(\"D\")}\nreturn msg;","outputs":1,"noerr":0,"x":458.77345275878906,"y":350.07813453674316,"wires":[["8bd12df6.fe195"]]},{"id":"8bd12df6.fe195","type":"http response","z":"4a2f2e58.bfad8","name":"","statusCode":"","headers":{},"x":734.5390815734863,"y":357.86719703674316,"wires":[]},{"id":"4484171b.c715e8","type":"cloudant out","z":"4a2f2e58.bfad8","name":"","cloudant":"","database":"smartparkingch","service":"ChandanaS-cloudantNoSQLDB","payonly":false,"operation":"insert","x":393.5174560546875,"y":185.8368377685547,"wires":[]},{"id":"6a3ac9b5.90d828","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"s0tqk2.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false}]